@charset "utf-8";
nav {
    display: block;
}

body {
    font-family: "Tahoma";
    background-color: white;
    color: black;
    overflow-y: scroll;
}

div td {
  width: 150px;
}

tr:nth-child(odd) {
    background-color: #81848c;
}

tr:nth-child(even) {
    background-color: #afb1b5;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

textarea {
    resize: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
    background-color: #596363;
    color: white;
}

li a:hover {
    background-color: #b2c1c1;
    color: cyan;
    text-decoration: none;
}

input, select, textarea {
    resize: none;
    outline: none;
    background-color: #767777;
    color: #FFFFFF;
    border: 2px solid #dadada;
    border-radius: 3px;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    -webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #00FFFF;
    -webkit-fill-color: #00FFFF;
    text-shadow: 1px 0px 20px cyan;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
    -moz-transition: width 0.3s;
    -o-transition: width 0.3s;
    outline-color #00FF00;
}

a {
    text-decoration: none;
    color: #9eedca;
}
